<p>show-days works!</p>

<div id="results-wrapper">
    {{isDivFlipped}}
    <!--TODO si se elimina alguna fecha, debería ir a choose 
    de valores actuales, es mas reactivo asi, y ponle estilos que funcione bien a este div de total result
que solo se activan al pulsar, y en la condicion ngif a ver que pasa con ===0 que no va ni el truthy o flase que me interesa-->
    <div [@flipUnflip]="isDivFlipped ? 'flipped' : 'notFlipped' " *ngIf="valueTotalDays>0;else choose" id="total-results">
        
        <p>{{valueTotalDays}}</p>

        <button type="submit" class="btn btn-warning" id="didYouKnowButton">Did you know that...?</button>


    </div>

    <div id="background-div"></div>

    <ng-template #choose>
        <div id="choose-div">
            <p> Please, choose two dates </p>

        </div>
     
    </ng-template>
</div>
