#results-wrapper{
    position: relative; 
}

/* TODO a ver como coño he hecho que vaya bien la posicion de los divds animados. con un relative del results-wrapper,
y luego en absolute solo el que muestra los resultados, pero hay que quitar el absolute del background
y por alguna razon asi se ajusta bien a la columna y todo...
*/
#background-div{
    background-color: #000;
    /*position:absolute;*/
    z-index:0;

    width:100%;
    height:200px;
}

#total-results,#choose-div{
   position:absolute;
    z-index:1;
    width:100%;
    height:200px;
    background-color: white;
    /*background-color: yellow;*/

}

