#results-wrapper{
    width:100%;
}

/* TODO como hacer estas position absoluten que hagan match bien a la columna

https://stackoverflow.com/questions/49034877/absolute-child-same-width-as-column-container
*/
#background-div{
    background-color: #000;
    position:absolute;
    z-index:0;

    width:300px;
    height:200px;
}

#total-results,#choose-div{
    position:absolute;
    z-index:1;
    width:300px;
    height:200px;
    background-color: white;
    /*background-color: yellow;*/

}

