<form [formGroup]="myDatesForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Date 1</label>
      <input type="date" formControlName="firstYearToCheckDateString" class="form-control" id="date-1" aria-describedby="emailHelp" >
     
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Date 2</label>
      <input type="date" formControlName="lastYearToCheckDateString" class="form-control" id="date-2" >
    </div>
    
    <button type="submit" [disabled]="myDatesForm.invalid">Calculate</button>
  </form>

  <p *ngIf="totalDays>0;else choose" id="total-results">{{totalDays}}</p>

  <ng-template #choose>
    Please, choose two dates
  </ng-template>